* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-main: rgb(246, 246, 246);
  --background-secondary: white;
  --typography-1: var(--blue);
  --typography-2: var();
  --borders: var(--gray);
  /* PALETTE 1 */
  --turquoise: rgb(0, 145, 110);
  --cream: rgb(252, 243, 238);
  --yellow: rgb(255, 207, 0);
  --orange: rgb(238, 97, 35);
  --red: rgb(225, 0, 56);
  /* PALETTE 2 */
  --blue: rgba(8, 61, 119);
  --gray: rgb(200, 200, 200);
  --light-yellow: rgba(244, 211, 94);
  --light-brown: rgba(238, 150, 75);
  --salmon: rgba(249, 87, 56);
  --light-shadow: -1px 0px 10px -2px rgba(0, 0, 0, 0.75);
  --radious: 0.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: var(--background-main);
  color: var(--typography-1);

}

/* MAIN APP CONTAINER DIV IN HTML INDEX */
#root {
  height: 100vh;
  width: 100vw;
}

/* GLOBAL CLASSES */
.section {
  width: 90%;
  margin: 5vh auto;
  padding: 1.5rem;
}


/* STYLE FOR BUTTONS */
.button {
  display: block;
  min-width: 6.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(54, 138, 240, 0.9);
  color: white;
  border-style: none;
  border-radius: var(--radious);
  box-shadow: -1px 0px 20px -12px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: -1px 0px 30px -9px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  /* background-color: rgba(34, 95, 169, 0.9); */
}

@media screen and (min-width: 395px) {
  .button {
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
  }

  .button:hover {
    transform: scale(1.1);
  }
}

.button_transparent {
  display: block;
  min-width: 6.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  background-color: white;
  color: black;
  border: 0.5px solid var(--gray);
  border-radius: var(--radious);
  /* box-shadow: -1px 0px 20px -12px rgba(0, 0, 0, 0.75);  */
  transition: all 0.3s ease;
}


/* GENERAL CLASS FOR MAIN COMPONENTS */
.app_body {
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  width: 100%;
  background-color: var(--background-main);
}

/* @media screen and (min-width: 768px) {} */



/* -----------------------------  */